body {
  background-color: white;
  color: #212529;
  font-family: 'Segoe UI', sans-serif;
}

.navbar-brand img {
  height: 40px;
}

.navbar .nav-link,
.navbar a {
  color: #212529;
}

footer {
  font-size: 0.9rem;
}